{{> menu}}

<form class="box" action="/trail/{{collection._id}}/updatetrail/{{trail._id}}" method="POST">
  <h1l>Update Trail Details:</h1>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <label class="label">Range</label>
          <input class="input" type="text" name="range" value="{{trail.range}}">
          <div class="control">
            <div class="select is primary">
              <select name="range" id="range">
                <option>Choose a Range</option>
                <option value="Front Range">Front Range</option>
                <option value="Tenmile Range">Tenmile Range</option>
                <option value="Mosquito Range">Mosquito Range</option>
                <option value="Gore Range">Gore Range</option>
                <option value="Elks Range">Elks Range</option>
                <option value="Sawatch Range">Sawatch Range</option>
                <option value="Sangre de Cristo Range">Sangre de Cristo Range</option>
                <option value="San Juan Range">San Juan Range</option>
              </select>
            </div>
          </div>
          
        </div>
        <div class="field">
          <label class="label">Mountain Name</label>
          <input class="input" type="text" name="mountain" , value="{{trail.mountain}}">
        </div>
        {{!-- <div class="field">
          <label class="label">Latitude</label>
          <input class="input" type="number" step="0.0000001" maxlength="10" min="-90.0000000" max="90.0000000"
            name="latitude" value="{{trail.latitude}}">
        </div>
        <div class="field">
          <label class="label">Longitude</label>
          <input class="input" type="number" step="0.0000001" maxlength="10" min="-180.0000000" max="180.0000000"
            name="longitude" value="{{trail.longitude}}">
        </div> --}}
        <div class="field">
          <label class="label">Duration</label>
          <input class="input" type="number" name="duration" , value="{{trail.duration}}">
        </div>
        <div class="field">
          <label class="label">Elevation</label>
          <input class="input" type="number" name="elevation" , value="{{trail.elevation}}">
        </div>
        <div class="field">
          <label class="label">Category</label>
          <div class="control">
            <div class="select is primary">
              <select name="category" id="category">
                <option>Choose Category</option>
                <option value="Class 1">Class 1</option>
                <option value="Class 2">Class 2</option>
                <option value="Class 2+">Class 2+</option>
                <option value="Class 3">Class 3</option>
                <option value="Class 4">Class 4</option>
                <option value="Class 5">Class 5</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Effort Level</label>
          <div class="control">
            <div class="select is primary">
              <select name="effort" id="effort">
                <option>Choose Category</option>
                <option value="Easy">Easy</option>
                <option value="Medium">Medium</option>
                <option value="Hard">Hard</option>
                <option value="You'll Die">You'll Die</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Rating</label>
          <input class="input" type="number" step="1" min="1" max="5" placeholder="1" name="trailRating" , value="{{trail.trailRating}}">
        </div>
        <div class="field">
          <label class="label">Leave a Trail Review</label>
          <input class="input" type="text" placeholder="Review Trail" name="reviewTrail", value=""{{trail.reviewTrail}}>
        </div>
      </div>
    </div>
    <button class="button is-primary">Update Trail</button>
    <button class="button is-secondary">Cancel</button>
</form>