<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Range</th>
      <th>Mountain</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Duration</th>
      <th>Elevation</th>
      <th>Category</th>
      <th>Effort Level</th>
      <th>Actions</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each collection.trails}}
      <tr>
        <td>
          {{range}}
        </td>
        <td>
          {{mountain}}
        </td>
        <td>
          {{latitude}}
        </td>
        <td>
          {{longitude}}
        </td>
        <td>
          {{duration}}
        </td>
        <td>
          {{duration}}
        </td>
        <td>
          {{category}}
        </td>
        <td>
          {{effort}}
        </td>
        <td>
          <a href="/trail/{{../collection._id}}/edittrail/{{_id}}" class="ui icon button">
            <i class="fas fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/collection/{{../collection._id}}/deletetrail/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
